{% extends 'base.html' %}

{% block title %}
reg
{% endblock %}

{% block body%}
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="container">
<div class="row align-items-center g-lg-5 py-5">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">

      <span filter-content="">Registration</span>
  <div class="rounded float-end col-lg-6 col-md-14 mb-4 mb-md-5">
    <img src="{{url_for('static', filename='NFT-Art.png')}}" class="img-fluid width="200" height="130">
  </div>
      <form method="POST" action="">

          {{ form.hidden_tag() }}
          {{ form.username }}
          {{ form.password }}
          {{ form.submit }}
      
      </form>
      
    </div>
</div>
</body>
</html>

{% endblock %}

